@inherits BlogPostPreviewModel
@layout MainLayout

<div class="navlink-container d-flex align-items-center justify-content-center text-center" style="background-image: url('@BlogPost.ImageUrl');">
    <NavLink href="@($"viewpost/{BlogPost.Id}")" class="text-white">
        <h2 class="post-heading display-2">@BlogPost.Title</h2>
        <h3 class="display-3">@BlogPost.PostSummary</h3>
        <p>Posted by @BlogPost.Author on @BlogPost.Posted</p>
    </NavLink>
</div>